<header class="group col-12"> 
  <div class="center col-8 logo-position">
    <a routerLink=""><img src="../assets/images/logo.svg" alt="Doku-Latino Budapest" class="logo"></a>
  </div>
  <nav class="col-12">
    <ul class="col-8 col-m-12 center">
      <li><a routerLink="/welcome" routerLinkActive="active">HOME</a></li>
      <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>      
      <li><a routerLink="/subscribers" routerLinkActive="active">SUBSCRIBERS</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><a routerLink="/watch-free class="btn action-button" href="#">WATCH</a></li>
    </ul>
  </nav>
</header>
