header {
	height: 300px;
	text-align: center;
	position: relative;
	top: 0;
	overflow: hidden;
    .logo-position{
        margin-top: 8em;
    }


    .center{
        clear: both;
        float: none;
        margin: 0 auto;
    }

    nav{
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            -webkit-padding-start: 0px;
        }
        li {
            list-style-type: none;
        }
        a{
            color: #3c3c3c;
            display: inline-block;
            text-decoration: none;
            &:hover{
                box-shadow: 0 0 0 1px deeppink;
            }
        }
    }
}

