<header class="group col-12"> 
  <div class="center col-8 logo-position">
    <img src="../assets/images/logo.svg" alt="Doku-Latino Budapest" class="logo">
  </div>
  <nav class="col-12">
    <ul class="col-8 col-m-12 center">
      <li><a title="Opcion 1" routerLink="" routerLinkActive="active">HOME</a></li>
      <li><a title="Opcion 3" routerLink="/subscribers" routerLinkActive="active">SUBSCRIBERS</a></li>
      <li><a title="Opcion 4" href="#">CONTACT</a></li>
      <li><a title="Opcion 2" class="btn action-button" href="#">WATCH</a></li>
    </ul>
  </nav>
</header>
