header {
	text-align: center;
	position: relative;
	top: 0;
	overflow: hidden;
    .logo-position{
        margin-top: 5em;
    }
    .logo {
        max-width: 30%;
    }

    .center{
        clear: both;
        float: none;
        margin: 0 auto;
    }

    nav{
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            -webkit-padding-start: 0px;
        }
        li {
            list-style-type: none;
            &:hover:not(:last-child){
                border-bottom: 1px solid deeppink;
            }
        }
        a{
            color: #3c3c3c;
            display: inline-block;
            text-decoration: none;
        }

        a.active {
            color: #0ADEFF;
            cursor: default;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .action-button {
            background: #56c6c6;
            border-radius: 20px;
            color: #fff;
            box-shadow: none;
            border: none;
            text-shadow: none;
            padding: 10px 22px;
            transition: background-color 0.25s;
            &:hover {
                background: #66d7d7;
            }
        }
    }
}

