<div class="col-8 col-m-10 about group center bottom-line">
  <h1 class="text-align-center">Welcome to Doku-Latino Budapest!</h1>
  <p>
    We are the only Latin American Documentary Film Festival in Budapest.
    Don't forget to subscribe to our mailing list. 
    We are preparing different events to warm up for the festival's first edition in May 2017.
  </p>
  <p>Help us spreading the voice!</p>
  <p>Thank you very much!</p>
  <p class="bottom-line"><b>Doku-Latino Team</b></p>
  <h2>Special thanks to:</h2>
  <img src="../assets/images/FIN_PR_LOGO_hosszu_feher_transp-3.png" alt="Premier Kultcafe" style="background-color: #3c3c3c">
</div>


