<div class="col-8 col-m-10 about group center bottom-line">
  <h1 class="text-align-center">Andres Caicedo: A few good friends</h1>
  <h4 class="text-align-center">Original title: Unos pocos buenos amigos</h4>
  <iframe src="https://player.vimeo.com/video/40915360" width="100%" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <h2>Synopsis</h2>
  <p>Using as narrative axis the reconstruction of the unfinished Andres Caicedo's film "Angelita and Miguel Angel" (1971), friends of the writer and film critic reflect on his life, his work and his suicide.</p>
</div>