<section class="background">
  <img class="menu-logo" src="/src/assets/images/menu-logo.svg" alt="menu-logo">
  <div class="wrapper">
    <div class="group center text-align-center col-12 center-unit">
      <!--<h1>Page Not Found</h1>
      <p>Sorry, this page doesn't exist</p>-->
      <img class="title" src="/src/assets/images/title.svg" alt="deli doku">
      <img class="lense" src="/src/assets/images/lense.svg" alt="lense">
      <p class="message">Coming soon!</p>
    </div>
  </div>
</section>
