<h3>Subscribers:</h3>
<ul>
  <li *ngFor="let subscriber of subscribers">{{subscriber.email}}</li>
</ul>
<form (ngSubmit)="onSubmit()" #subscriberForm="ngForm" *ngIf="sentDelete" class="animated bounceInUp">
  <div class="form-group">
    <input #email type="text" placeholder="Email" 
    class="form-control inputDoku" 
    id="email" 
    required/>
  </div>

  <!--<div [hidden]="email.valid || email.pristine" 
        class="alert alert-danger">
        Email is required
  </div>-->
  <button *ngIf="sentDelete" type="submit" 
          class="callToAction"
          (click)= "addSubscriber(email.value); email.value=''" 
          [disabled]="!subscriberForm.form.valid">
          Subscribe
  </button>
  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</form>
<button  *ngIf="sent"
      class="callToAction-sent animated fadeOutRight">
      Subscribed!
</button>
