<div class="col-8 col-m-10 about group center bottom-line">
  <form (ngSubmit)="onSubmit()" #subscriberForm="ngForm" class="animated bounceInUp text-align-center">
    <div class="form-group">
      <input #email type="text" placeholder="Email" 
        class="form-control inputDoku" 
        id="email" 
        required/><br>
      <input #password type="password" placeholder="Password" 
        class="form-control inputDoku" 
        id="password" 
        required/>
    </div>

    <!--<div [hidden]="email.valid || email.pristine" 
          class="alert alert-danger">
          Email is required
    </div>-->
    <button type="submit" 
            class="callToAction"
            (click)= "skd" 
            [disabled]="!subscriberForm.form.valid">
            Login
    </button>
  </form>
</div>