/* You can add global styles to this file, and also import other style files */
body {
    color: #3c3c3c;
    background-color: white;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;

    background: linear-gradient(270deg, white, #fff8fd);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    -o-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
    line-height: 1.5em;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 115%;
}

h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

* {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05rem;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.text-align-center {
    text-align: center;
}

.center {
        clear: both;
        float: none;
        margin: 0 auto;
}

.bottom-line {
    border-bottom: 1px solid rgba(60,60,60, 0.1)  
}
