/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans', sans-serif;
    color: #3c3c3c;
    text-align: center;
    background-color: white;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
}
